/* Style for the pitch container */
#shotMap {
    position: relative;
    width: 100vw;  /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    margin: 0 auto;     /* Remove margin to ensure it takes the full screen */
    background-color: rgb(169, 169, 169); /* Dark green to represent the pitch */
    border: 1px solid #fff; /* White border to represent the pitch outline */
    box-sizing: border-box; /* Include border in the width and height calculations */
}

/* Style for the shots */   
.shot {
    position: absolute;
    border-radius: 50%; /* Make the shots circular */
    transform: translate(-50%, -50%); /* Center the shots based on their coordinates */
    background-color: #ff0; /* Yellow for visibility, adjust as needed */
    /* Rest of your .shot styles... */
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none; /* Tooltip should not interfere with other mouse events */
    visibility: hidden; /* Start with tooltip hidden */
}

html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}